@media print {
  @page {
    size: A4 landscape !important;
    margin: 20px;
  }

  .container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: space-between;
  }

  p {
    font-size: 16px;
    margin-top: 8px;
  }

  .header {
    width: 90%;
    flex: 1 1 auto;

  }

  .body {
   
    width: 90%;
    flex: 1 1 auto;
    break-inside: avoid-page;
  }

  .footer {
  
    width: 90%;
   
    position: sticky;
    margin-top: 2cm;
  }
}

@media screen {
  .container {
    margin: 0 auto;
    width: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  p {
    font-size: 16px;
    margin-top: 8px;
  }
  .header {
   
    top: 0;
    width: 90%;
  }

  .body {
    width: 90%;
  }

  .footer {
    bottom: 0;
    width: 90%;
  }
}
