@media screen {
    table{
        empty-cells: show;
    }
 
    .table{
        width: 100%;
        border-collapse: collapse ;
        height: 100%;
        // empty-cells: show;

    }
}

@media print{
    table{
        empty-cells: show;
    }

    .table{
        width: 100%;
        // border-collapse: collapse ;
        height: 100%;
        // empty-cells: show;

    }
}