@media screen {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .middleText {
    text-align: center;
  }
  .table {
    width: 100%;
  }
  .title {
    color: red;
    font-size: 36px;
    text-decoration: underline;
    font-weight: bold;
  }

  .emptyImg {
    max-height: 16px;
  }

  .emptyCell {
    width: 80%;
  }
  .backgroundBlueCell {
    background-color: #dce6f1;
  }

  .textBackroundGrey {
    background-color: #d9d9d9;
  }

  .tableHeaderText {
    font-size: 16px;
  }

  .theaderAlignment {
    text-align: center;
  }
  .cellsWithBorder {
    border: 1px solid black;
  }
  .cellBackGroundGrey {
    background-color: #d9d9d9;
  }

  .importantText {
    font-weight: bold;
    text-decoration: underline;
  }

  .colorBlue {
    color: #1f497d;
  }

  .halfWidth {
    width: 50%;
  }

  .padding {
    padding-left: 1rem;
  }
  .ulStyle {
    list-style-type: circle;
  }

  .fontBold {
    font-weight: bold;
  }
  .thirdWidth {
    width: 33%;
  }
}

@media print {
  @page {
    size: A4 portrait !important;
    // margin: 15px;
  }

  // table,
  // figure {
  //   page-break-inside: avoid;
  // }

  .container {
    width: 80% !important;
    // margin: 0 auto !important;
  }
  .middleText {
    text-align: center !important;
  }
  .table {
    width: 100% !important;
  }
  .title {
    color: red !important;
    font-size: 36px !important;
    text-decoration: underline !important;
    font-weight: bold !important;
  }

  .emptyImg {
    max-height: 16px !important;
  }

  .emptyCell {
    width: 80% !important;
  }
  .backgroundBlueCell {
    background-color: #dce6f1 !important;
  }

  .textBackroundGrey {
    background-color: #d9d9d9 !important;
  }

  .tableHeaderText {
    font-size: 16px !important;
  }

  .theaderAlignment {
    text-align: center !important;
  }
  .cellsWithBorder {
    border: 1px solid black !important;
  }
  .cellBackGroundGrey {
    background-color: #d9d9d9 !important;
  }

  .importantText {
    font-weight: bold !important;
    text-decoration: underline !important;
  }

  .colorBlue {
    color: #1f497d !important;
  }

  .halfWidth {
    width: 50% !important;
  }

  .padding {
    padding-left: 1rem !important;
  }
  .ulStyle {
    list-style-type: circle !important;
  }
  .fontBold {
    font-weight: bold !important;
  }
  .thirdWidth {
    width: 33% !important;
  }
}
